<header>
    <h1 class="titulo-header">MARITZA ESTILOS</h1>
    <nav class="navegacion">
        <ul class="nav-header">
            <li><a href="/">INICIO</a></li>
            <li><a href="/vestidos">VESTIDOS</a></li>
            <li><a href="/">NOVEDADES</a></li>
            <li><a href="/">NOSOTROS</a></li>
            <li><a href="/contacto">CONTACTO</a></li>
        </ul>
    </nav>
</header>