<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs')%>
    </head>
    <body>
        <header>
            <%- include('./partials/header.ejs')%>
            <div class="banner-header">
                <img class="banner" src="/img/C1.PNG" alt="banner">
            </div>
        </header>
        <main>
            <section class="main-section-one">
                <h3 class="titulo">Vestidos Destacados</h3>
                <article class="card">
                    <img class="img_prod" src="/img/cena-1.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido Cena Blanca</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <article class="card">
                    <img class="img_prod" src="/img/cena-2.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido Cena Blanca</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <article class="card">
                    <img class="img_prod" src="/img/cena-3.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido Cena Blanca</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <article class="card">
                    <img class="img_prod" src="/img/cena-4.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido Cena Blanca</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>
                </article>
            </section>
            <section class="main-section-one">
                <article class="card">
                    <img class="img_prod" src="/img/quinceañera-1.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido de XV</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <article class="card">
                    <img class="img_prod" src="/img/quinceañera-2.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido de XV</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <article class="card">
                    <img class="img_prod" src="/img/quinceañera-3.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido de XV</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <article class="card">
                    <img class="img_prod" src="/img/modelo-1.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido de XV</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
            </section>
        </main>
        <footer>
            <%- include('./partials/footer.ejs')%>
        </footer>
    </body>
</html>