*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: rgb(175, 20, 105); ;
    padding: 10px;
}

.titulo-header{
    width: 100%;
    font-size: 25px;
    text-align: center;
    /* border: 1px solid #ccc; */
    color: white;
}

.navegacion {
    display: flex;
    align-items: center;
    /* height: 80px; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
    margin-top: 5px;
}

.navegacion ul{
    display: flex;
}
.navegacion li{
    margin: 0px 13px;
    font-size: 13px;
}
.navegacion li a{
    text-decoration: none; /* saca el subrayado que contiene el menu de navegacion */
    color: white;
}
.nav-header{
    list-style: none;
    color: black;
}
.banner-header{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.banner{
    width: 50%;
}

main{
    width: 100%;
    background-color: #ebebeb;
}

.main-section-one{
    display: flex;
    width: 100%;
    /* min-width: 270px; */
    flex-wrap: wrap;
    /* background-color: #EAC926; */
    justify-content: space-around;
}

.titulo{
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid #ccc; */
}

/* main section article */
.card{
    width: 200px;
    height: 420px;
    margin-bottom: 10px;
    /* border: 1px solid #ebebeb; */
    background-color: white;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img_prod{
    display: flex;
    width: 200px;
    height: 350px;
    /* background-color: darkcyan; */
    /* border: 1px solid #ccc; */
}
.card-bottom{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    /* background-color: aquamarine; */
    /* #ebebeb */
    width: 200px;
    height: 70px;   
    /* border: 1px solid #ccc; */
}

.vestido{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding-left: 15px; */
    /* margin-top: 3px; */
    font-size: 16px;
    color:black;
    /* border: solid green; */
    /* background-color:burlywood; */
    /* border: 1px solid #ccc; */
}

.precio{
    display: flex;
    color: #363434;
    width: 100%;
    /* padding-top: 2px; */
    /* padding-bottom: 15px; */
    font-size: 16px;
    align-items: center;
    justify-content: center;
    /* border: solid red; */
    /* background-color: green !important; */
    /* border: 1px solid #ccc; */
}


.comprar{
    width: 100%;
    display: flex;
    font-size: 16px;
    color: black;
    /* background-color: blueviolet; */
    justify-content: center;
    /* border: 1px solid #ccc; */
    list-style: none;
}
.comprar a{
    text-decoration: none;
}


footer{
    width: 100%;
    background-color: rgb(175, 20, 105);
    height: 70px;
    display: flex;
}

.info-footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #ccc; */
    justify-content: center;
}

.copyright{
    /* border: 1px solid #ccc; */
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes i{
    margin: 0px 8px;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
    width: 33.3%;
}

.tarjetas i{
    margin: 0px 5px;
}

.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
    width: 33.3%;
}
