@import './partials/header.css';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 500px;
    background-color: ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-form{
    width: 330px;
    height: 300px;
    border-radius: 2%;
    margin-top: 10px;
    background-color: rgb(175, 20, 105);
    padding: 20px;
}
.form{
    /* border: 1px solid black; */
    padding: 5px;
    height: 100%;
}
h2{
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    /* border: 1px solid #ccc; */
    margin: 15px 0px;
}   
input{
    padding: 4px;
    font-size: 10px;
    width: 100%;
    /* background-color: aquamarine; */
}

textarea{
    font-size: 10px;
    padding: 4px;
    width: 100%;
}

button{
    width: 100%;
    margin-top: 10px;
}

footer{
    width: 100%;
    background-color: rgb(175, 20, 105);
    height: 70px;
    display: flex;
}

.info-footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #ccc; */
    justify-content: center;
}

.copyright{
    /* border: 1px solid #ccc; */
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes i{
    margin: 0px 8px;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
    width: 33.3%;
}

.tarjetas i{
    margin: 0px 5px;
}

.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
    width: 33.3%;
}


