*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: rgb(175, 20, 105); ;
    padding: 5px 0px;
}

.contenedor-principal{
    display: flex;
    border: 1px solid #148617;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
}

.logo-header{
    border: 1px solid #ebebeb;   
    width: 10%;
}

.titulo-header{
    width: 80%;
    font-size: 25px;
    text-align: center;
    border: 1px solid #ccc;
    color: white;
}

.button-header{
    display: flex;
    border: 1px solid #ebebeb;
    width: 10%;
    justify-content: space-around;
    align-items: center;
}

.button-header a{
    text-decoration: none; /* saca el subrayado que contiene el menu de navegacion */
    color: black;
}
.titulo-header a{
    text-decoration: none; /* saca el subrayado que contiene el menu de navegacion */
    color: white;
}


.navegacion {
    display: flex;
    align-items: center;
    /* height: 80px; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
    margin-top: 5px;
}

.navegacion ul{
    display: flex;
}
.navegacion li{
    margin: 0px 13px;
    font-size: 13px;
}
.navegacion li a{
    text-decoration: none; /* saca el subrayado que contiene el menu de navegacion */
    color: white;
}
.nav-header{
    list-style: none;
    color: black;
}
.banner-header{
    display: flex;
    justify-content: center;
    /* margin-top: 5px; */
}
.banner{
    width: 50%;
}

main {
    width: 100%;
    height: 500px;
    background-color: ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-form{
    width: 330px;
    height: 300px;
    border-radius: 2%;
    margin-top: 10px;
    background-color: rgb(175, 20, 105);
    padding: 20px;
}
.form{
    /* border: 1px solid black; */
    padding: 5px;
    height: 100%;
}
h2{
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    /* border: 1px solid #ccc; */
    margin: 15px 0px;
}   
input{
    padding: 4px;
    font-size: 10px;
    width: 100%;
    /* background-color: aquamarine; */
}

textarea{
    font-size: 10px;
    padding: 4px;
    width: 100%;
}

button{
    width: 100%;
    margin-top: 10px;
}

footer{
    width: 100%;
    background-color: rgb(175, 20, 105);
    height: 70px;
    display: flex;
}

.info-footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #ccc; */
    justify-content: center;
}

.copyright{
    /* border: 1px solid #ccc; */
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes i{
    margin: 0px 8px;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
    width: 33.3%;
}

.tarjetas i{
    margin: 0px 5px;
}

.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
    width: 33.3%;
}


