*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #ffffff;
    min-width: 270px;
    width: 100%;
}
header{
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #ffffff;
    min-width: 270px;
}

.main-nav{
    width: 100%;
    border-bottom: 2px solid #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 270px;
}

.barra-navegacion{
    display: flex;
    /* justify-content: center; */
    width: 50%;
    margin: 20px;
    /* min-width: 270px; */
    /* border: 1px solid black; */
    /* padding: 5px; */
}

.search-form{
    display: flex;
    /* border: forestgreen solid 3px; */
    width: 90%;
}
.form-button{
    display: flex;
    justify-content: center;
    width: 10%;
    /* border: 1px solid salmon; */
}

.i2{
    width: 85%;
    height: 40px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 0 5px 5px 0;
    border: 0;
    outline: none;
    border: 2px solid #f3f3f3f3;
    /* border: 1px red solid; */
}

.b2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: rgb(175, 20, 105);
    padding: 10px;
    border: 0;
    border-radius: 5px 0 0 5px;
    color: #fff;
    cursor: pointer;
}

.close{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #f3f3f3f3;
    border-radius: 5px;
    background-color: #ffffff;
    color: #818181;
    cursor: pointer;
}
.close:hover{
    background-color: rgb(175, 20, 105);
    color: #fff;
}

.b2:hover{
    background-color: rgba(0 0 0 / .2);
}

main{
    width: 100%;
}
/* .title-main{
    width: 100%;
    display: flex;
    padding: 20px 40px;
    font-size: 30px;
    border: 1px solid ;
} */

.main-section-one{
    width: 100%;
}
.contenedor{
    width: 100%;
    display: flex;
    /* margin-left: 112px; */
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid ; */
}

.prod-title{
    /* border: 1px solid ; */
    width: 80%;
    border-bottom: 2px solid #f3f3f3;
    padding: 10px 0px;
}
.prod-title2{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    font-size: 30px;
}
.cards-cont{
    width: 85%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    height: 420px;
    margin-bottom: 10px;
    border: 1px solid #f3f3f3;
    background-color: white;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img_prod{
    display: flex;
    width: 200px;
    height: 350px;
    /* background-color: darkcyan; */
    /* border: 1px solid #ccc; */
}
.card-bottom{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    /* background-color: aquamarine; */
    /* #ebebeb */
    width: 200px;
    height: 70px;   
    /* border: 1px solid #ccc; */
}

.vestido{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding-left: 15px; */
    /* margin-top: 3px; */
    font-size: 16px;
    color:black;
    /* border: solid green; */
    /* background-color:burlywood; */
    /* border: 1px solid #ccc; */
}

.precio{
    display: flex;
    color: #363434;
    width: 100%;
    /* padding-top: 2px; */
    /* padding-bottom: 15px; */
    font-size: 16px;
    align-items: center;
    justify-content: center;
    /* border: solid red; */
    /* background-color: green !important; */
    /* border: 1px solid #ccc; */
}


.comprar{
    width: 100%;
    display: flex;
    font-size: 16px;
    color: black;
    /* background-color: blueviolet; */
    justify-content: center;
    /* border: 1px solid #ccc; */
    list-style: none;
}
.comprar a{
    text-decoration: none;
}
