<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-contacto.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/5498c91e1f.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="titulo-header">MARITZA ESTILOS</h1>
        <nav class="navegacion">
            <ul class="nav-header">
                <li><a href="/">INICIO</a></li>
                <li><a href="/vestidos.html">VESTIDOS</a></li>
                <li><a href="/">NOVEDADES</a></li>
                <li><a href="/">NOSOTROS</a></li>
                <li><a href="/contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="contenedor-form">
            <form class="form" action="">
                <h2>CONTACTO</h2>
                <div>
                    <label for="nombre"></label>
                    <input type="text" name="nombre" placeholder="Nombre y Apellido">
                </div> 
                <div>
                    <label for="email"></label>
                    <input type="email" name="email" placeholder="E-mail">
                </div>
                <div>
                    <label for="number"></label>
                    <input type="number" name="number" placeholder="Telefono">
                </div>
                <div>
                    <label for="textarea"></label>
                    <textarea name="textarea" id="textarea"  placeholder="Escriba aqui su mensaje"></textarea>
                </div>
                <div>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <section class="info-footer">
            <div class="copyright">
                <h6>©Copyright Maritza Estilos - 2023</h6>
            </div>
            <div class="redes">
                <a href="/"><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
            </div>
            <div class="tarjetas">
                <i class="fa-brands fa-cc-visa"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-paypal"></i>
            </div>
        </section>
    </footer>
    
</body>
</html>