<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
        <script src="https://kit.fontawesome.com/5498c91e1f.js" crossorigin="anonymous"></script>
        <title>Document</title>
    </head>
    <body>
        <header>
            <h1 class="titulo-header">MARITZA ESTILOS</h1>
            <nav class="navegacion">
                <ul class="nav-header">
                    <li><a href="/">INICIO</a></li>
                    <li><a href="/vestidos.html">VESTIDOS</a></li>
                    <li><a href="/">NOVEDADES</a></li>
                    <li><a href="/">NOSOTROS</a></li>
                    <li><a href="/contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
            <div class="banner-header">
                <img class="banner" src="/img/C1.PNG" alt="banner">
            </div>
        </header>
        <main>
            <section class="main-section-one">
                <h3 class="titulo">Vestidos Destacados</h3>
                <article class="card">
                    <img class="img_prod" src="/img/cena-1.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido Cena Blanca</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <article class="card">
                    <img class="img_prod" src="/img/cena-2.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido Cena Blanca</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <article class="card">
                    <img class="img_prod" src="/img/cena-3.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido Cena Blanca</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <article class="card">
                    <img class="img_prod" src="/img/cena-4.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido Cena Blanca</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>
                </article>
            </section>
            <section class="main-section-one">
                <article class="card">
                    <img class="img_prod" src="/img/quinceañera-1.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido de XV</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <article class="card">
                    <img class="img_prod" src="/img/quinceañera-2.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido de XV</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <article class="card">
                    <img class="img_prod" src="/img/quinceañera-3.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido de XV</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <article class="card">
                    <img class="img_prod" src="/img/modelo-1.jpeg" alt="vestido-1" >
                    <nav class="card-bottom">
                        <div class="vestido">Vestido de XV</div>
                        <div class="precio">$6670</div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
            </section>
        </main>
        <footer>
            <section class="info-footer">
                <div class="copyright">
                    <h6>©Copyright Maritza Estilos - 2023</h6>
                </div>
                <div class="redes">
                    <a href="/"><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <div class="tarjetas">
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-brands fa-cc-paypal"></i>
                </div>
            </section>
        </footer>
    </body>
</html>