<footer>
    <section class="info-footer">
        <div class="copyright">
            <h6>©Copyright Maritza Estilos - 2023</h6>
        </div>
        <div class="redes">
            <a href="/"><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <div class="tarjetas">
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-paypal"></i>
        </div>
    </section>
</footer>