<header>
    <div class="contenedor-principal">
        <div class="logo-header">

        </div>
        <h1 class="titulo-header">
            <a href="/">MARITZA ESTILOS</a>
        </h1>
        <div class="button-header">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href=""><i class="fa-solid fa-user"></i></a>
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
    
    <nav class="navegacion">
        <ul class="nav-header">
            <li><a href="/">INICIO</a></li>
            <li><a href="/vestidos">VESTIDOS</a></li>
            <li><a href="/buscador">NOVEDADES</a></li>
            <li><a href="/">NOSOTROS</a></li>
            <li><a href="/contacto">CONTACTO</a></li>
        </ul>
    </nav>
</header>