header{
    width: 100%;
    background-color: rgb(175, 20, 105) ;
    padding: 5px 0px;
}

.contenedor-principal{
    display: flex;
    border: 1px solid #ebebeb;
    /* justify-content: space-around; */
    justify-content: center;
    width: 100%;
    padding: 0px 10px;
}

.logo-header{
    border: 1px solid #ebebeb;   
    width: 10%;
}

.titulo-header{
    width: 80%;
    font-size: 25px;
    text-align: center;
    border: 1px solid #ccc;
    color: white;
}

.button-header{
    display: flex;
    border: 1px solid #ebebeb;
    width: 10%;
    justify-content: space-around;
    align-items: center;
}

.button-header a{
    text-decoration: none; /* saca el subrayado que contiene el menu de navegacion */
    color: black;
}

.titulo-header a{
    text-decoration: none; /* saca el subrayado que contiene el menu de navegacion */
    color: white;
}


.navegacion {
    display: flex;
    align-items: center;
    /* height: 80px; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
    margin-top: 5px;
}

.navegacion ul{
    display: flex;
}
.navegacion li{
    margin: 0px 13px;
    font-size: 13px;
}
.navegacion li a{
    text-decoration: none; /* saca el subrayado que contiene el menu de navegacion */
    color: white;
}
.nav-header{
    list-style: none;
    color: black;
}
.banner-header{
    display: flex;
    justify-content: center;
    /* margin-top: 5px; */
}
.banner{
    width: 50%;
}